* {
	margin: 0;
	padding: 0;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
	display: flex;
	/* justify-content: center; */
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 100vh;
}
.header__section {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
	margin: 50px;
}
.header__section h1 {
	font-size: 4em;
	font-weight: 100;
	color: gray;
}
.header__section span {
	font-weight: 600;
	color: #160202;
}
.header__section p {
	font-size: 2em;
}
.fa {
	color: #ff2b2b !important;
	cursor: pointer;
}
.cards__section {
	display: flex;
	color: #fff;
}
a {
	text-decoration: none;
	color: transparent;
}
.card {
	width: 180px;
	height: 280px;
	text-align: center;
	border-radius: 20px;
	box-shadow: 5px 5px 10px #585858;
	margin: 20px;
	padding: 15px;
	border: 2px solid #ff2b2b;
}
.card h2 {
	color: #ff2b2b;
	font-weight: 400;
	font-size: 1.4em;
}
.card p {
	margin: 40px 0;
	color: red;
	font-weight: 600;
	text-decoration: line-through;
	font-size: 1.2em;
}
.card label {
	color: #000;
	cursor: pointer;
}
.title {
	position: relative;
	/* margin-top: -100px; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 150px;
}

.title h1 {
	padding: 0 25px;
	font-size: 4em;
	font-weight: 600;
	color: #2e2020;
	background-color: #fff;
	text-align: center;
}
.line {
	position: absolute;
	top: 50%;
	width: 900px;
	height: 5px;
	background-color: #8a8a8a;
	z-index: -1;
	border-radius: 10px;
}
.icon {
	font-size: 2em;
}
.task__card {
	position: relative;
	width: 280px;
	margin-top: 50px;
	height: 280px;
	text-align: center;
	border-radius: 20px;
	box-shadow: 5px 5px 10px #585858;
	margin: 20px;
	padding: 15px;
	border: 2px solid #ff2b2b;
}
.task__card .fa {
	position: absolute;
	bottom: 20px;
	right: 15px;
	font-size: 2em;
}
.task__card h2 {
	color: #ff2b2b;
	font-weight: 400;
	font-size: 1.4em;
}
.task__cardInfo p {
	margin: 40px 0;
	color: red;
	font-weight: 600;
	text-decoration: line-through;
	font-size: 1.2em;
}
.task__card label {
	color: #000;
	cursor: pointer;
}

.add__list {
	display: flex;
	flex-direction: column;
	padding: 30px;
	height: 120px;
	width: 300px;
	border: 1px solid #ff2b2b;
	border-radius: 10px;
	text-align: center;
	color: #ff2b2b;
	background: #fff;
	box-shadow: 6px 6px 10px #949494;
}
.add__list input {
	margin: 15px 0;
	border: 1px solid #ff2b2b;
	outline: none;
	box-shadow: 2px 2px 5px #949494;
	padding: 8px;
	border-radius: 5px;
}
.add__list h2 {
	font-weight: 400;
}
.btn {
	background: #ff2b2b;
	color: #fff;
	border: none;
	border-radius: 20px;
	width: 100px;
	cursor: pointer;
	margin: auto;
	padding: 12px;
}
@media (max-width: 768px) {
	.cards__section {
		flex-direction: column;
	}
	.card {
		width: 80vw;
		height: 50px;
		cursor: pointer;
	}
	.card__info {
		display: none;
	}
	hr,
	.line,
	.icon span {
		display: none;
	}
	.header__section h1 {
		font-size: 3em;
	}
	.header__section p {
		font-size: 2.5em;
		margin-right: -40px;
	}
	.header__section .add {
		display: none;
	}
	.task__card {
		height: 50%;
	}
	.task__card hr {
		display: block;
	}
	.title h1 {
		font-size: 2.5em;
	}
	.icon {
		position: absolute;
		left: 5%;
		top: 50px;
		font-size: 2.5em;
	}
}
