* {
	margin: 0;
	padding: 0;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
	display: flex;
	/* justify-content: center; */
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 100vh;
}
.header__section {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
	margin: 50px;
}
.header__section h1 {
	font-size: 4em;
	font-weight: 100;
	color: gray;
}
.header__section span {
	font-weight: 600;
	color: #160202;
}
.header__section p {
	font-size: 2em;
}
.fa {
	color: #ff2b2b;
	cursor: pointer;
}
.empty {
	font-size: 15px;
	color: gray;
	font-weight: 400;
}
#cards__section {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 80%;
}
a {
	text-decoration: none;
	color: #ff2b2b;
}
.card {
	width: 180px;
	min-height: 280px;
	max-height: fit-content;
	text-align: center;
	border-radius: 20px;
	box-shadow: 5px 5px 10px #585858;
	margin: 20px;
	padding: 15px;
	border: 2px solid #ff2b2b;
	position: relative;
}
.card h2 {
	color: #ff2b2b;
	font-weight: 400;
	font-size: 1.4em;
	text-decoration: none;
}
.card p {
	margin: 10px 0;
	color: #272727;
	font-weight: 500;
	/* text-decoration: line-through; */
	font-size: 1.2em;
}
.innerdiv {
	margin: 10px 0;
}
.cardItems {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.itemBtn {
	background: #04882b;
	color: #fff;
	border-radius: 12px;
	font-size: 12px;
	cursor: pointer;
	padding: 4px 8px;
	margin-left: 15px;
	border: none;
	outline: none;
}
.completed {
	text-decoration: line-through;
	text-decoration-color: green;
	color: green;
}
.cardIcons {
	position: absolute;
	display: flex;
	bottom: 10px;
	right: 10px;
	font-size: 28px;
}
.deleteIcon {
	font-size: 20px !important;
	margin-right: 25px;
	position: absolute;
	bottom: 10px;
	right: 20px;
	color: #fff !important;
}
.deleteIcon::before {
	content: "";
	position: absolute;
	bottom: 0px;
	right: 0px;
	width: 28px;
	height: 28px;
	background: #ff2b2b;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.addIcon {
	color: rgb(0, 238, 186) !important;
	/* padding: 15px; */
	position: absolute;
	bottom: 10px;
	right: 10px;
	font-size: 30px !important;
}
.title {
	position: relative;
	/* margin-top: -100px; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 150px;
}

.title h1 {
	padding: 0 25px;
	font-size: 4em;
	font-weight: 600;
	color: #2e2020;
	background-color: #fff;
	text-align: center;
}
.line {
	position: absolute;
	top: 50%;
	width: 900px;
	height: 5px;
	background-color: #8a8a8a;
	z-index: -1;
	border-radius: 10px;
}
.icon {
	font-size: 2em;
}

.add__list {
	/* display: flex;
	flex-direction: column; */
	display: none;
	padding: 30px;
	height: 120px;
	width: 300px;
	border: 1px solid #ff2b2b;
	border-radius: 10px;
	text-align: center;
	color: #ff2b2b;
	background: #fff;
	box-shadow: 6px 6px 10px #949494;
	backdrop-filter: blur(6px);
	position: absolute;
	top: 35%;
	z-index: 10000;
}
.closeBtn {
	position: absolute;
	right: 20px;
	top: 15px;
}
.add__list input {
	margin: 15px 0;
	border: 1px solid #ff2b2b;
	outline: none;
	box-shadow: 2px 2px 5px #949494;
	padding: 8px;
	border-radius: 5px;
	display: flex;
	flex: 1;
	width: 95%;
}
.add__list h2 {
	font-weight: 400;
}
.btn {
	background: #ff2b2b;
	color: #fff;
	border: none;
	border-radius: 20px;
	width: 100px;
	cursor: pointer;
	margin: auto;
	padding: 12px;
}
.blur {
	-webkit-filter: blur(8px);
	-moz-filter: blur(8px);
	-o-filter: blur(8px);
	-ms-filter: blur(8px);
	filter: blur(8px);
}
.page-2 {
	display: none;
}
@media (max-width: 768px) {
	.cards__section {
		flex-direction: column;
	}
	.card {
		width: 80vw;
		height: 50px;
		cursor: pointer;
	}
	.card__info {
		display: none;
	}
	hr,
	.line,
	.icon span {
		display: none;
	}
	.header__section h1 {
		font-size: 3em;
	}
	.header__section p {
		font-size: 2.5em;
		margin-right: -40px;
	}
	.header__section .add {
		display: none;
	}
	.task__card {
		height: 50%;
	}
	.task__card hr {
		display: block;
	}
	.title h1 {
		font-size: 2.5em;
	}
	.icon {
		position: absolute;
		left: 5%;
		top: 50px;
		font-size: 2.5em;
	}
}
